body{
      background-image: url("background.jpg")
    }
    #wrapper{
      width:960px;
      margin: 0 auto;
      padding-top: 5%;
    }
    #header {
      background-color: white;
      opacity: 0.8;
    }
    #articles{
      width:60%;
      height:700px;
      display:inline-block;
      overflow: auto;
      background-color: white;
      opacity: 0.8;
    }
    #notes{
      width:30%;
      float:right;
      background-color: white;
      opacity: 0.8;
    }