.navbar {
    background-color: #2b303b;
    /*opacity: .6;*/
   
}

.navbar {
    background-color: #2b303b;
    /*opacity: .6;*/
   
}

.navbar-brand  {
    float: left;
    height: 50px;
    padding: 9px 22px;
    font-size: 18px;
    line-height: 20px;
    color: #337ab7;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #337ab7;
    text-decoration: none;
}


body {
    background: black;
}

.title  { color: white !important; }

.jumbotron {
        background: #2b303b;
}



.icon-bar {
    float: right;
    position: relative;
    top: 6px;
    color: #337ab7;
    text-decoration: none;
}

#search-Bar {
    /* width: 450px; */
    color: black !important;
}
 
 .scrape-button {
    margin-top: 20px;
    margin-left: 22px;
}  

.saved {
    color: white;
}

.search-area {
    margin-right: -70px; 
}



.btn-row {
    margin-bottom: 25px;
    float: left;
}

 a:hover { color: inherit; text-decoration: none; } 
a { color: inherit; text-decoration: none; }  

.results-area {
    margin-top: 15px;
}

.text {
    float: left;
}

.delete-note {
        float: left;
    margin-right: 20px;
}