body{
      background-image: url("../assets/image/background.jpg")
    }
    #wrapper{
      width:960px;
      margin: 0 auto;
      padding-top: 5%;
    }
    #header {
      background-color: white;
      opacity: 0.8;
    }
    #articles{
      width:60%;
      height:700px;
      display:inline-block;
      overflow: auto;
      background-color: white;
      opacity: 0.8;
    }
    #notes{
      width:30%;
      float:right;
      background-color: white;
      opacity: 0.8;
    }
    textarea, input{
      display:block;
      width:100%;
      background-color:white;
    }
    input{
      height:36px;
      font-size: 24px;
    }
    textarea{
      height:200px;
      font-size: 18px;
    }