/*stickey footer*/
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}
/*bootstrap override*/
.row{
	margin: 0px;
}
.panel{
	border-width: 0px;
	border-radius: 0px;
}

.panel-heading{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.banner img{
	width: 100%;
}

.banner{
	padding: 0px;
	background-image: url("../images/banner.jpg");
	text-align: center;
	background-size: cover;
	height: 500px;
	color: #FFFFFF;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
}

.banner p {
	font-size: 250%;
	color: #FFFFFF;
	-webkit-text-stroke: 2px black;
   	color: white;
}

h1 {
	font-size: 500%;
	color: #FFFFFF;
	-webkit-text-stroke: 1px black;
   	color: white;
   	text-shadow:
       3px 3px 0 #000,
       -1px -1px 0 #000,
       1px -1px 0 #000,
       -1px 1px 0 #000,
       1px 1px 0 #000;
}
/*nav styling */
nav {
	margin: 0px !important;
	padding: 0px;
}
.navigation {
	margin-top: 10px;
	color: #FFFFFF;
}
.navigation a {
	color: #FFFFFF;
}
.title h3{
	color: #FFFFFF;
}

.panel-heading {
	min-height: 70px;
}

footer{
	text-align: center;
}

.noArticles{
	text-align: center;
}
